---
layout: default
home: true
---

{% if site.posts.size > 0 %}
    <h4 class="posts-item-note">Publicações Recentes</h4>
    {% for post in site.posts %}
    <article class="post-item">
        <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
        <h4 class="post-item-title">
            <a href="{{ post.url }}">{{ post.title | escape }}</a>
        </h4>
    </article>
    {% endfor %}
{% endif %}

<div class="description">
    Desenvolvedor web atualmente morando em Goiânia. Trabalho na área a 4 anos(até 2020) e atualmente
    sou desenvolvedor Full Stack na StayApp. Nas horas livres gosto de tomar uma cerveja, e maratonar séries aleatórias.
</div>

{% for social in site.data.socials %}
    <a class="icons" href="{{ social.url }}">
        <i class="{{ social.icon }}"></i>
    </a>
{% endfor %}
